html{
	width: 100%;
}

* {
	box-sizing: border-box;
}

/*.container{
    margin: 0 auto;
}*/

header{
    display: flex;
}

.title{
	widows: 100%;
	height:30%;
	margin:0;
}

.imga{
	width: 100%;
	height:348px;
}

.logo{
	widows: 100%;
	margin: -320px 0px 0px 350px ;
}
.star{
	width: 91px;
	height: auto;
}

.titleword{
	widows: 100%;
	margin: -90px 0px 0px 450px;
}
.updown{
	width: 130px;
	height: auto;
	font-family: Copperplate Gothic;
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	
}

.searchbar{
	width: 550px;
	height: 60px;
	margin: -110px 0px 0px 600px;
}

.bartext{
	width: 100px;
	height: 15px;
	font-family: Copperplate Gothic;
	font-size: 20px;
	line-height: 16px;
	color: #7E7E7E;
	text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);	
	margin:-85px 0px 0px 620px;
}

.search{
	width: 75px;
	height: 60px;
	margin:-24px 0px 0px 1100px;
}

.downtext{
	width: 380px;
	height: 35px;
	font-family: 微軟正黑體;
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;
	color: #000000;
	text-shadow: 0px 50px 50px rgba(255, 255, 255, 0);
	margin:-10px 0px 0px 620px;
}

.login{
	width: 100px;
	height: 70px;
	margin: -130px 0px 0px 1180px;
}

.logintext{
	width: 70px;
	height: 34px;
	z-index:1; 
	font-family: 微軟正黑體;
	font-weight: bold;
	font-size: 30px;
	line-height: 33px;
	color: #000000;
	margin:-105px 0px 0px 1200px;
}

.icona{
	width:70px;
	height:70px;
	margin: -121px 0px 0px 1280px;
}
.iconb{
	width:70px;
	height:70px;
	margin: -170px 0px 0px 1340px;
}

.chooseline{
    float: right;
    display: flex;
	margin: 160px 0px 0px 0px;
	background-color: #B4DBFF;
	z-index: 1;
}
li{    
    list-style-type:none;
    font-family: "微軟正黑體";
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: auto;
}

.list{
    /*border-right: 3px #ffffff solid;*/
    height: 40px;
    padding:5px 100px 0px 50px;
}
ul{
    display: flex;
    justify-content: center;
    width: 1920px;
    height: auto;
    margin-top: 10px;
}

.centpic{
	widows: 100%;
	height:30%;
	margin: 280px 0px 0px 380px;
}

.imgb{
	width: 70%;
	height: 10%;
	background: url(web/image13.png);
}

.circle{
width: 20%;
height: 20%;
}

.circlea1{
widows: 100%;
margin: -120px 0px 0px 850px;
}
.circlea2{
widows: 100%;
margin: -170px 0px 0px 900px;
}
.circlea3{
	widows: 100%;
	margin: -215px 0px 0px 950px;
}

.new{
width: 400px;
height: 25px;
display:flex;
font-family: "微軟正黑體";
font-weight: bold;
font-size: 35px;
color: #000000;
margin:-30px 0px 0px 850px;
}

.iteme{
    display: flex;
    margin: 0px 0px 0px 30px;
}

.txt1{
font-family: "微軟正黑體";
font-weight: bold;
font-size: 50px;
color: #000000;
margin:60px 0px 0px 380px;
}

.txt2{
font-family:  "微軟正黑體";
font-weight: bold;
font-size: 25px;
line-height: 25px;
color: #000000;
margin:20px 0px 0px 420px;
}

.txt3{
	font-size: 25px;
	font-family: "微軟正黑體";
	font-weight: bold;
	display: flex;
	align-items: center;
	text-decoration-line: underline;
	color: #FF7715;
	margin:-30px 0px 0px 560px;
}

.left{
	width: 30px;
	height: 60px;
	margin:-230px 0px 0px 700px;
}

.imgc{
	width: 680px;
	height: 250px;
	margin: -250px 0px 0px 750px;
}

.right{
	width: 30px;
	height: 60px;
	margin:-330px 0px 0px 1420px;
}

.txt1-1{
	font-family: "微軟正黑體";
	font-weight: bold;
	font-size: 50px;
	color: #000000;
	margin:400px 0px 0px -1490px;
	}

.txt2-1{
	font-family:  "微軟正黑體";
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	color: #000000;
	margin:20px 0px 0px -1450px;
	}

.txt3-1{
	font-size: 25px;
	font-family: "微軟正黑體";
	font-weight: bold;
	display: flex;
	align-items: center;
	text-decoration-line: underline;
	color: #FF7715;
	margin:-30px 0px 0px -1310px;
}
.left1{
	width: 30px;
	height: 60px;
	margin:-400px 0px 0px -1170px;
}

.imgd{
	width: 680px;
	height: 521px;
	margin: -250px 0px 0px 20px;
}

.right1{
	width: 30px;
	height: 60px;
	margin:-400px 0px 0px 0px;
}

.txt1-2{
	font-family: "微軟正黑體";
	font-weight: bold;
	font-size: 50px;
	color: #000000;
	margin:1000px 0px 0px -1485px;
	}

.txt2-2{
	font-family:  "微軟正黑體";
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	color: #000000;
	margin:20px 0px 0px -1440px;
	}

.txt3-2{
	font-size: 25px;
	font-family: "微軟正黑體";
	font-weight: bold;
	display: flex;
	align-items: center;
	text-decoration-line: underline;
	color: #FF7715;
	margin:-30px 0px 0px -1305px;
}

.left2{
	width: 30px;
	height: 60px;
	margin:-250px 0px 0px -1160px;
}

.imge{
	width: 680px;
	height: 521px;
	margin: -250px 0px 0px 15px;
}

.right2{
	width: 30px;
	height: 60px;
	margin:-250px 0px 0px -10px;
}

.txt1-3{
	font-family: "微軟正黑體";
	font-weight: bold;
	font-size: 50px;
	color: #000000;
	margin:1550px 0px 0px -1480px;
	}

.txt2-3{
	font-family:  "微軟正黑體";
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	color: #000000;
	margin:20px 0px 0px -1450px;
	}

.txt3-3{
	font-size: 25px;
	font-family: "微軟正黑體";
	font-weight: bold;
	display: flex;
	align-items: center;
	text-decoration-line: underline;
	color: #FF7715;
	margin:-30px 0px 0px -1310px;
}

.left3{
	width: 30px;
	height: 60px;
	margin:-250px 0px 0px -1100px;
}

.imgf{
	width: 560px;
	height: 400px;
	margin: -250px 0px 0px 15px;
}

.right3{
	width: 30px;
	height: 60px;
	margin:-250px 0px 0px -10px;
}

.footpic{
	widows: 100%;
	height:100%;
	margin:0;
}
.footback{
	width: 100%;
	height: auto;
		
}

.txtlittle{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000000;
	margin: -30px 0px 0px 150px;
}
.txtlittle1{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000000;
	margin: -20px 0px 0px 1500px;
}

.list1{
	/*border-right: 3px #ffffff solid;*/
	width:300px;
    height: 40px;
	padding:5px 50px 0px 50px;
	margin: -250px 0px 0px -50px;
	font-size: 20px;
	line-height: 33px;
	color: #989898;
	font-family: "微軟正黑體";
}

.txtdeta{
	color: #989898;
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	margin:-215px 0px 0px 540px;
}

.txtdeta1{
	color: #989898;
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	margin:-75px 0px 0px 780px;
}
.txtdeta2{
	color: #989898;
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	margin:-80px 0px 0px 1040px;
}
.txtdeta3{
	color: #989898;
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	margin:-80px 0px 0px 1290px;
}

@media screen and (max-width: 768px) {
	.title{
		widows: auto;
		height:300px;
		margin:0;
	}
	
	.imga{
		width: 100%;
		height: 243px;
	}
	.logo{
		margin: -270px 0px 0px 40px ;
	}
	.star{
		width: 60px;
		height: auto;
	}
	
	.updown{
		width: 90px;
		height: 80px;
		font-size: 32px;
		line-height: 42px;
		margin: 15px 0px 0px -340px;
	}
	
	.searchbar{
		width: 340px;
		height: 40px;
		margin: -120px 0px 0px 220px;
	}
	
	.bartext{
		width: 100px;
		height: 15px;
		font-size: 14px;
		line-height: 16px;
		
		margin:-85px 0px 0px 230px;
	}
	.search{
		width: 45px;
		height: 41px;
		margin:-28px 0px 0px 530px;
	}
	
	.downtext{
		width: 380px;
		height: 35px;
		font-size: 14px;
		line-height: 19px;
		margin:-10px 0px 0px 240px;
	}

	.login{
		width: 80px;
		height: 50px;
		margin: -120px 0px 0px 570px;
	}
	
	.logintext{
		z-index:1; 
		font-size: 24px;
		line-height: 33px;
		margin:-95px 0px 0px 585px;
	}
	
	.icona{
		width:55px;
		height:55px;
		margin: -110px 0px 0px 640px;
	}
	.iconb{
		width:55px;
		height:55px;
		margin: -160px 0px 0px 690px;
	}
	
	.chooseline{
		float: right;
		display: flex;
		margin: 90px 0px 0px 0px;
		background-color: #B4DBFF;
		z-index: 1;
	}
	li{    
		list-style-type:none;
		font-family: "微軟正黑體";
		color: #ffffff;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		width: auto;
	}
	
	.list{
		/*border-right: 3px #ffffff solid;*/
		height: 30px;
		padding:12px 0px 0px 50px;
	}
	ul{
		display: flex;
		justify-content: center;
		width: 768px;
		height: auto;
		margin-top: 10px;
	}
	
	.centpic{
		widows: 100%;
		height:30%;
		margin: 170px 0px 0px 120px;
	}
	
	.imgb{
		width: 90%;
		height: auto;
		background: url(ipad/image13.png);
	}
	
	.circlea1{
		width: 15px;
		height: 15px;
		margin: -60px 0px 0px 340px;
	}
	.circlea2{
		width: 15px;
		height: 15px;
		margin: -109px 0px 0px 370px;
	}
	.circlea3{
		width: 15px;
		height: 15px;
		margin: -157px 0px 0px 400px;
	}
	
	.new{
		width: 400px;
		height: 25px;
		display:flex;
		font-size: 25px;
		margin:-50px 0px 0px 350px;
		}
		
	.iteme{
		display: flex;
		margin: 0px 0px 0px 30px;
	}

	.txt1{
		font-size: 30px;
		margin:20px 0px 0px 30px;
		}
		
	.txt2{
	font-size: 20px;
	line-height: 15px;
	margin:20px 0px 0px 50px;
	}
	
	.txt3{
		font-size: 20px;
		margin:-20px 0px 0px 160px;
	}
	
	.left{
		width: 18px;
		height: 36px;
		margin:-170px 0px 0px 250px;
	}
	
	.imgc{
		width: 370px;
		height: 150px;
		margin: -200px 0px 0px 280px;
	}
	
	.right{
		width: 18px;
		height: 36px;
		margin:-270px 0px 0px 650px;
	}

	.txt1-1{
		font-size: 30px;
		margin:280px 0px 0px -675px;
		}
	
	.txt2-1{
		font-size: 20px;
		line-height: 15px;
		margin:20px 0px 0px -665px;
		}
	
	.txt3-1{
		font-size: 20px;
		margin:-25px 0px 0px -550px;
	}
	.left1{
		width: 18px;
		height: 36px;
		margin:-200px 0px 0px -460px;
	}
	
	.imgd{
		width: 370px;
		height: 250px;
		margin: -190px 0px 0px 10px;
	}
	
	.right1{
		width: 18px;
		height: 36px;
		margin:-210px 0px 0px -5px;
	}

	.txt1-2{
		font-size: 30px;
		margin:600px 0px 0px -680px;
		}
	
	.txt2-2{
		font-size: 20px;
		line-height: 20px;
		margin:20px 0px 0px -660px;
		}
	
	.txt3-2{
		font-size: 20px;
		margin:-25px 0px 0px -575px;
	}
	
	.left2{
		width: 18px;
		height: 36px;
		margin:-250px 0px 0px -460px;
	}
	
	.imge{
		width: 370px;
		height: 350px;
		margin: -240px 0px 0px 10px;
	}
	
	.right2{
		width: 18px;
		height: 36px;
		margin:-250px 0px 0px -5px;
	}
	
	.txt1-3{
		font-size: 30px;
		margin:900px 0px 0px -680px;
		}
	
	.txt2-3{
		font-size: 20px;
		line-height: 20px;
		margin:20px 0px 0px -650px;
		}
	
	.txt3-3{
		font-size: 20px;
		margin:-25px 0px 0px -560px;
	}
	
	.left3{
		width: 18px;
		height: 36px;
		margin:-180px 0px 0px -450px;
	}
	
	.imgf{
		width: 290px;
		height: 195px;
		margin: -150px 0px 0px 50px;
	}
	
	.right3{
		width: 18px;
		height: 36px;
		margin:-180px 0px 0px 25px;
	}

	.footpic{
		widows: 100%;
		height:auto;
		margin:0;
	}
	.footback{
		width: 100%;
		height: 150px;
			
	}

	.txtlittle{
		font-size: 10px;
		margin: -30px 0px 0px 50px;
	}
	.txtlittle1{
		font-size: 10px;
		margin: -15px 0px 0px 480px;
	}
	
	.list1{
		/*border-right: 3px #ffffff solid;*/
		width:200px;
		height: 30px;
		padding:5px 20px 0px 0px;
		margin: -130px 0px 0px -30px;
		font-size: 15px;
	}
	
	.txtdeta{
		font-size: 12px;
		line-height: 15px;
		margin:-105px 0px 0px 75px;
	}
	
	.txtdeta1{
		font-size: 12px;
		line-height: 15px;
		margin:-45px 0px 0px 250px;
	}
	.txtdeta2{
		font-size: 12px;
		line-height: 15px;
		margin:-45px 0px 0px 440px;
	}
	.txtdeta3{
		font-size: 12px;
		line-height: 15px;
		margin:-50px 0px 0px 620px;
	}
}

@media screen and (max-width: 320px) {
	.title{
		widows: auto;
		height:110px;
		margin:0;
	}
	
	.imga{
		width: 100%;
		height: 107px;
		background: url(iphone/image14.png);
	}

	.logo{
		margin: -100px 0px 0px 30px ;
	}
	.star{
		width: 20px;
		height: auto;
	}
	
	.updown{
		width: 70px;
		height: 60px;
		font-size: 12px;
		line-height: 12px;
		margin: 70px 0px 0px -390px;
	}

	.searchbar{
		width: 120px;
		height: 20px;
		margin: -130px 0px 0px 100px;
	}
	
	.bartext{
		width: 100px;
		height: 15px;
		font-size: 9px;
		margin:-87px 0px 0px 105px;
	}
	.search{
		width: 23px;
		height: 19px;
		margin:-35px 0px 0px 200px;
	}
	
	.downtext{
		width: 120px;
		height: 30px;
		font-size: 7px;
		line-height: 12px;
		margin:-18px 0px 0px 105px;
	}
	
	.login{
		width: 40px;
		height: 30px;
		margin: -120px 0px 0px 220px;
	}
	
	.logintext{
		z-index:1; 
		font-size: 14px;
		margin:-90px 0px 0px 225px;
	}
	
	.icona{
		width:30px;
		height:30px;
		margin: -115px 0px 0px 255px;
	}
	.iconb{
		width:30px;
		height:30px;
		margin: -162px 0px 0px 280px;
	}
	
	.chooseline{
		float: right;
		display: flex;
		margin: -15px 0px 0px 0px;
		z-index: 1;
	}
	li{  
		font-size: 10px;
		width: auto;
	}
	
	.list{
		/*border-right: 3px #ffffff solid;*/
		height: 10px;
		padding:5px 0px 0px 20px;
	}
	ul{
		display: flex;
		justify-content: center;
		width: 350px;
		height: auto;
		margin-top: 10px;
	}

	.centpic{
		widows: 100%;
		height:30%;
		margin: 20px 0px 0px 60px;
	}
	
	.imgb{
		width: 80%;
		height: auto;
		background: url(ipad/image13.png);
	}
	
	.circlea1{
		width: 10px;
		height: 10px;
		margin: -45px 0px 0px 145px;
	}
	.circlea2{
		width: 10px;
		height: 10px;
		margin: -93px 0px 0px 160px;
	}
	.circlea3{
		width: 10px;
		height: 10px;
		margin: -141px 0px 0px 175px;
	}
	
	.new{
		width: 140px;
		height: 25px;
		display:flex;
		font-size: 10px;
		margin:-60px 0px 0px 140px;
		}
		
	.iteme{
		display: flex;
		margin: 0px 0px 0px 30px;
	}

	.txt1{
		font-size: 11px;
		margin:-5px 0px 0px 120px;
	}
		
	.txt2{
	font-size: 9px;
	line-height: 7px;
	margin:80px 0px 0px 80px;
	}
	
	.txt3{
		font-size: 9px;
		margin:-10px 0px 0px 150px;
	}
	
	.left{
		width: 8px;
		height: 14px;
		margin:-180px 0px 0px 50px;
	}
	
	.imgc{
		width: 150px;
		height: 60px;
		margin: -180px 0px 0px 0px;
	}
	
	.right{
		width: 8px;
		height: 14px;
		margin:-230px 0px 0px 215px;
	}
	
	.txt1-1{
		font-size: 11px;
		margin:150px 0px 0px -175px;
		}
	
	.txt2-1{
		font-size: 9px;
		line-height: 7px;
		margin:120px 0px 0px -210px;
		}
	
	.txt3-1{
		font-size: 9px;
		margin:-10px 0px 0px -140px;
	}
	.left1{
		width: 8px;
		height: 14px;
		margin:-230px 0px 0px -240px;
	}
	
	.imgd{
		width: 150px;
		height: 100px;
		margin: -220px 0px 0px 0px;
	}
	
	.right1{
		width: 8px;
		height: 14px;
		margin:-230px 0px 0px -2px;
	}
	
	.txt1-2{
		font-size: 11px;
		margin:350px 0px 0px -190px;
		}
	
	.txt2-2{
		font-size: 9px;
		line-height: 7px;
		margin:120px 0px 0px -210px;
		}
	
	.txt3-2{
		font-size: 9px;
		margin:-10px 0px 0px -145px;
	}
	
	.left2{
		width: 8px;
		height: 14px;
		margin:-210px 0px 0px -240px;
	}
	
	.imge{
		width: 150px;
		height: 100px;
		margin: -200px 0px 0px 0px;
	}
	
	.right2{
		width: 8px;
		height: 14px;
		margin:-210px 0px 0px -5px;
	}
	
	.txt1-3{
		font-size: 11px;
		margin:550px 0px 0px -175px;
		}
	
	.txt2-3{
		font-size: 9px;
		line-height: 7px;
		margin:100px 0px 0px -210px;
		}
	
	.txt3-3{
		font-size: 9px;
		margin:-10px 0px 0px -145px;
	}
	
	.left3{
		width: 8px;
		height: 14px;
		margin:-190px 0px 0px -240px;
	}
	
	.imgf{
		width: 120px;
		height: 80px;
		margin: -190px 0px 0px 15px;
	}
	
	.right3{
		width: 8px;
		height: 14px;
		margin:-190px 0px 0px 8px;
	}
	
	.footpic{
		widows: 100%;
		height:auto;
		margin:0;
	}
	.footback{
		width: 100%;
		height: 110px;
			
	}
	
	.txtlittle{
		font-size: 5px;
		margin: -20px 0px 0px 10px;
	}
	.txtlittle1{
		font-size: 5px;
		margin: -15px 0px 0px 110px;
	}

	.list1{
		/*border-right: 3px #ffffff solid;*/
		width:180px;
		height: 30px;
		padding:5px 15px 0px 0px;
		margin: -105px 0px 0px -50px;
		font-size: 10px;
	}
	
	.txtdeta{
		font-size: 5px;
		line-height: 12px;
		margin:-90px 0px 0px 27px;
	}
	
	.txtdeta1{
		font-size: 5px;
		line-height: 12px;
		margin:-38px 0px 0px 100px;
	}
	.txtdeta2{
		font-size: 5px;
		line-height: 12px;
		margin:-36px 0px 0px 180px;
	}
	.txtdeta3{
		font-size: 5px;
		line-height: 12px;
		margin:-38px 0px 0px 260px;
	}
}
